html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1;
    color: #555
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.clearfix {
    clear: both;
    display: block
}

html[xmlns] .clearfix {
    display: block
}

* html .clearfix {
    height: 1%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.fl_left {
    float: left
}

.fl_right {
    float: right
}

.container {
    margin: auto;
    width: 720px;
    position: relative
}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden
}

#slider ul {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0
}

#slider ul li {
    opacity: 0.1;
}

#slider ul li img {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

.prev-slider,
.next-slider {
    position: absolute;
    top: 150px;
    cursor: pointer;
    background: none;
    color: white;
    border: none;
    font-size: 45px
}

.prev-slider {
    left: 0
}

.next-slider {
    right: 0
}

.prev-slider:hover,
.next-slider:hover {
    border: 2px solid
}

.thumb {
    float: left;
}

.thumb img {
    margin-right: 5px;
    width: 100px;
    height: 45px;
    margin-top: 10px;
    opacity: 0.5;
}

.thumb img:hover {
    border: 2px solid white;
    cursor: pointer;
}